body {
    overflow: hidden;
}

li {
    border-bottom: 1px solid #eeeeee;
    padding: 30px 0;
}

.span2 {
    text-align: center;
}
    .span2 img {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

.span9 {
    font-size: 28px;
    line-height: 38px;
}
    .span9 .user {
        font-weight: bold;
    }

#pause-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #ffffff;
    text-align: center;
}
    #pause-overlay h1 {
        font-size: 128px;
        margin-top: 180px;
        padding-left: 10px;
    }
    #pause-overlay h2 {
        clear: both;
        margin-top: 140px;
        font-size: 80px;
    }
    #pause-overlay h3 {
        line-height: 27px;
        font-size: 48px;
        margin-top: 80px;
    }